<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> #删除-->  

<!-- <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=AeYsep6hUYifAZaRVJE06DcjiQ_2Qn5Xb4CC0aUmT9g&cl=ffffff&w=a"></script> -->
<!-- <a href="https://mapmyvisitors.com/web/1bvfc"  title="Visit tracker"><img src="https://mapmyvisitors.com/map.png?d=AeYsep6hUYifAZaRVJE06DcjiQ_2Qn5Xb4CC0aUmT9g&cl=ffffff" /></a> -->

<!-- <div style="width: 500px; height: 400px; justify-content: center;"> 
    <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=AeYsep6hUYifAZaRVJE06DcjiQ_2Qn5Xb4CC0aUmT9g&cl=ffffff&w=a"></script>
</div> -->

<!-- <div style="display: flex; justify-content: center; align-items: center; height: 100vh;"> 设置居中 -->
<!-- <div style="display: flex; justify-content: center;">
    <div style="width: 500px; height: 400px;">
        <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=AeYsep6hUYifAZaRVJE06DcjiQ_2Qn5Xb4CC0aUmT9g&cl=ffffff&w=a"></script>
    </div>
</div> -->

<!-- +++++++use_part+++++++below   <div style="width: 400px; height: 300px;">    -->

<div style="display: flex; justify-content: center;">
    <div style="width: 5px; height: 5px;">
        <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=AeYsep6hUYifAZaRVJE06DcjiQ_2Qn5Xb4CC0aUmT9g&cl=ffffff&w=a"></script>
    </div>
</div>


<!-- end custom footer snippets -->
