---
layout: archive
title: "Research Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

---
title: "1. 24h Unmanned Patrol Vehicle System (2022.12-2024.08)"
excerpt: "·Mainly responsible for the construction of the perception system based on sensor fusion.
·Panoramic semantic segmentation of unmanned vehicle surroundings using unsupervised method.
·Use the improved YOLO model to identify pedestrians/facilities and use the NeRF model to reconstruct the surrounding environment.
<br/><img src='/images/soybean1.png' width='378.4' height='150'><img src='/images/soybean2.png' width='378.4' height='150'><img src='/images/soybean3.png' width='378.4' height='150'>"
collection: Research Projects
---